.project-section{
  box-shadow: .2rem .2rem .5rem .2rem  #333;
  border-radius: .5rem
}
.project-title{
  font-family: 'Oswald', sans-serif;
}
.project-btn{
  padding: 5px 15px;
  margin: 5px  auto;
  display: block;
  border: 2px solid #014e68;
  border-radius: 30px;
  margin-top: 16px;
  text-transform: uppercase;
  transition: .3s;
  font-family: 'Roboto', sans-serif;
}
.project-btn:hover{
  background:  #014e68;
  color: #fff;
  
 
}