.banner-bg{
  background: url(../../../Images/banner.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.banner-title{
  font-family: 'Oswald', sans-serif;
  word-spacing: 2px;


}
.banner-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
  
}
.facebook,.Linkedin,.Github{
 border: 2px solid #00769a;
 height: 50px;
 width: 50px;
  background:transparent;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 color: #00769a;
 padding: 10px;
 transition: .3s;
}
.facebook:hover,.Linkedin:hover,.Github:hover{
  transform: rotate(360deg);
  background: #fff;


  
}

.banner-btn{
  padding: 10px 20px;
  color: #00769a;
  border-radius: 30px;
  border: 2px solid #00769a;
  text-transform: uppercase;
  margin-top: 50px;
  display: inline-block;
  transition: .3s ease-in-out;
}
.banner-btn:hover{
letter-spacing: 2px;
background: #fff;
color: black
}