.banner-bg{
  background: url(../../../Images/banner.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.banner-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  
}
.facebook{
  border: 2px solid #00769a;
 height: 50px;
 width: 50px;
  background:transparent;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 color: #00769a;
 padding: 10px
}
.banner-btn{
  padding: 10px 20px;
  color: #00769a;
  border-radius: 30px;
  border: 2px solid #00769a;
  text-transform: uppercase;
  margin-top: 50px;
  display: inline-block
}