.portfolio-section {
  margin-bottom: 50px;
}
.portfolio-section .underline{
  height: 5px;
  width: 100px;
  background: #014e68;
  margin: auto;
  border-radius: 30px;
  margin: 30px auto;
}
.portfolio{
  background: url(../../../Images/bike\ parts.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 5s
}
.portfolio-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio:hover{
  background-position: bottom;
}
.portfolio:hover .portfolio-text{
  bottom: 0
}
.portfolio-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}
.portfolio2{
  background: url(../../../Images/dream\ auto.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 5s
}
.portfolio2-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio2:hover{
  background-position: bottom;
}
.portfolio2:hover .portfolio2-text{
  bottom: 0
}
.portfolio2-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}


.portfolio3{
  background: url(../../../Images/wedding\ photographer.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 5s
}
.portfolio3-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio3:hover{
  background-position: bottom;
}
.portfolio3:hover .portfolio3-text{
  bottom: 0
}
.portfolio3-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}
.portfolio4{
  background: url(../../../Images/event.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 5s
}
.portfolio4-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio4:hover{
  background-position: bottom;
}
.portfolio4:hover .portfolio4-text{
  bottom: 0
}
.portfolio4-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}
.portfolio5{
  background: url(../../../Images/panda.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 5s
}
.portfolio5-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio5:hover{
  background-position: bottom;
}
.portfolio5:hover .portfolio5-text{
  bottom: 0
}
.portfolio5-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}
.portfolio6{
  background: url(../../../Images/mega\ phone.png), linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: 3s
}
.portfolio6-text{
  position: absolute;
  bottom: -100%;
  left: 0;
  text-align: center;
  width: 100%;
  transition: .5s
}
.portfolio6:hover{
  background-position: bottom;
}
.portfolio6:hover .portfolio6-text{
  bottom: 0
}
.portfolio6-btn{
  padding: 5px 15px;
  margin: 5px  0;
  border: 2px solid #014e68;
  border-radius: 30px
}
