.portfolio-section {
  margin-bottom: 50px;
}
.portfolio-title{
  font-family: 'Arima', cursive;

}
.underline{
  height: 5px;
  width: 100px;
  background: #014e68;
  margin: auto;
  border-radius: 30px;
  margin: 30px auto;
}

