.about-title{
  padding: 5px 15px;
  background: #2534a4;
  color: #ffffff;
  text-transform: uppercase;
  width: 150px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}
.about-body{
  color: #4b4b4b;
}
.about-hobby{
  margin-top: 20px;
  font-weight: 500;

}
.about-btn{
  padding: 10px 30px;
  background: transparent;
  color: ;
 width: 150px;
 border: 2px solid #000;
 text-align: center;
 margin-top: 20px;
 transition: .3s;
 

}
.about-btn:hover{
  background: #2534a4;
  color: #fff;
  border: 2px solid #2534a4;
 
 
}